<launch>
	<arg name="quad" default="SQ01s"/>
	<arg name="world_name" default="empty.world"/>
	
	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!-- Specify custom world here -->
		 <!--<arg name="world_name" value="worlds/willowgarage.world"/> -->
		<arg name="world_name" value="$(find mader_gazebo)/worlds/$(arg world_name)"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>

	      <!-- Ensure RosBag is saving important data -->
<!--          <node ns="$(arg quad)" pkg="rosbag" type="record" name="rosbag_record" args="-o $(env HOME)/Desktop/bags/$(arg world_name) log_topic goal joy vicon cmds cmds_att /tf"/> -->
<!--          <node ns="$(arg quad)" pkg="rosbag" type="record" name="rosbag_record" args="-o $(env HOME)/Desktop/bags/$(arg world_name) -a"/> -->


</launch>
