<launch>
	<arg name="quad" default="SQ01s"/>
	<arg name="x" default="0" />
	<arg name="y" default="0" />
	<arg name="z" default="0.0" />
	<arg name="yaw" default="0.0" />
	<arg name="perfect_tracker" default="true"/>
    <arg name="perfect_prediction" default="false"/>
	<arg name="gazebo" default="true"/>

	<!-- Start mader commands -->
	<node ns="$(arg quad)" name="commands" pkg="mader_other" type="commands.py" output="screen"/>

<!-- 	<group unless="$(arg perfect_prediction)">
		<include file="$(find mader)/launch/tracker_predictor.launch">
	  		<arg name="quad" value="$(arg quad)"/>
	 	 </include> 
	</group>
 -->
	<!-- Start Perfect tracker -->
	<include file="$(find mader)/launch/perfect_tracker_and_sim.launch">
  		<arg name="quad" value="$(arg quad)"/>
  		<arg name="gazebo" value="$(arg gazebo)"/>
  		<arg name="perfect_tracker" value="$(arg perfect_tracker)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" default="$(arg yaw)"/>
 	 </include> 


</launch>
