<launch>

	<arg name="quad" default="SQ01s"/>
	<arg name="goal_topic" default="goal"/>
	<arg name="cloud_topic" default="camera/cloud" />   


	<node ns="$(arg quad)" name="tracker_predictor_node" pkg="mader" type="tracker_predictor_node" output="screen" clear_params="false" > 
	<rosparam file="$(find mader)/matlab/params_casadi_prediction.yaml" command="load"/>
	<rosparam file="$(find mader)/param/predictor.yaml" command="load"/>
	<remap from="~cloud" to="$(arg cloud_topic)"/>
	</node>

	<!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mader)/rviz_cfgs/mader.rviz"/> -->

</launch>



<!-- launch-prefix="xterm -e gdb -ex run XXargs" -->