<launch>

	<arg name="quad" default="SQ01s"/>
	<arg name="goal_topic" default="goal"/>


	<node ns="$(arg quad)" name="tracker_predictor_node" pkg="mader" type="tracker_predictor_node" output="screen" clear_params="false" > 

	<rosparam file="$(find mader)/matlab/params_casadi_prediction.yaml" command="load"/>
	<rosparam file="$(find mader)/param/predictor.yaml" command="load"/>

	<remap from="~cloud" to="/JA01/global_mapper_ros/occupancy_grid"/>
<!-- 			<remap from="~term_goal" to="term_goal" />
		<remap from="~setpoint" to="setpoint" /> -->

	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find mader)/rviz_cfgs/mader.rviz"/>

</launch>



<!-- launch-prefix="xterm -e gdb -ex run XXargs" -->