<launch>

	<arg name="quad" default="SQ01s"/>
  <arg name="use_gui_mission" default="false"/>
  <arg name="perfect_prediction" default="false"/>
  <arg name="perfect_tracker" default="true"/>
  <arg name="gazebo" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="environment" default="true"/>

 <include file="$(find panther)/launch/panther_specific.launch" >
      <arg name="quad" value="$(arg quad)"/>
      <arg name="perfect_tracker" value="$(arg perfect_tracker)"/>
      <arg name="perfect_prediction" value="$(arg perfect_prediction)"/>
      <arg name="gazebo" default="$(arg gazebo)"/>
  </include> 
 
  <include file="$(find panther)/launch/panther_general.launch">
      <arg name="use_gui_mission" value="$(arg use_gui_mission)"/>
      <arg name="rviz" value="$(arg rviz)"/>
      <arg name="environment" value="$(arg environment)"/>
      <arg name="gazebo" default="$(arg gazebo)"/>
  </include> 



</launch>

<!-- launch-prefix="xterm -e gdb -ex run args -->

