<launch>

	<arg name="quad" default="SQ01s"/>
	<arg name="use_gui_mission" default="true"/>
	<arg name="perfect_prediction" default="false"/>
	<arg name="goal_topic" default="goal"/>


	<node ns="$(arg quad)" name="panther" pkg="panther" type="panther_node" output="screen" clear_params="false"> 

		<!-- Parameters -->
	    <rosparam file="$(find panther)/param/panther.yaml" command="load"/>
	    <rosparam file="$(find panther)/matlab/params_casadi.yaml" command="load"/>
	    <param name="use_gui_mission" value="$(arg use_gui_mission)" /> 
	    <param name="perfect_prediction" value="$(arg perfect_prediction)" /> 

        <!-- Subscriptions -->
		<remap from="~state" to="state"/>
		<remap from="~who_plans" to="who_plans"/>
		<remap from="~term_goal" to="term_goal" />
		<remap from="~trajs_predicted" to="tracker_predictor_node/trajs_predicted" />

		<!-- Publications -->
		<remap from="~traj" to="traj"/>
		<remap from="~goal" to="$(arg goal_topic)" />
		<remap from="~setpoint" to="setpoint" />

	</node>

<!-- 	 <node ns="$(arg quad)" pkg="jsk_rviz_plugins"
        type="rosconsole_overlay_text.py"
        respawn="false"
        name="rosconsole_overlay_text">

        <param name="nodes" value="/$(arg quad)/panther" /> 
        <param name="reverse_lines" value="false" /> 

      </node> -->

</launch>


<!-- launch-prefix="xterm -e gdb -ex run XXargs" -->