<launch>
	<arg name="quad" default="SQ01s"/>
	<arg name="world_name" default="$(find panther)/meshes/empty.world"/>
	
	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="gui" value="false"/> <!-- Set to false if you only want gzserver (and NOT gzclient) -->
	</include>

</launch>