<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <xacro:property name="ns" value="$(arg ns)" />
    <xacro:property name="tf_prefix" value="$(arg tf_prefix)" />
    <!--
     The asus_camera_model macro only adds the model, it does not also add
     the openni gazebo plugin. See the 'asus_camera' macro below for that
    -->
    <xacro:macro name="asus_camera_model" params="name parent *origin">
      <joint name="${name}_joint" type="fixed">
        <xacro:insert_block name="origin" />
        <parent link="${parent}"/>
        <child link="${name}_link"/>
      </joint>
      
      <link name="${name}_link">
        <inertial>
          <mass value="0.200" />
          <origin xyz="0 0 0" rpy="0 0 0" />
          <inertia ixx="5.8083e-4" ixy="0" ixz="0" iyy="3.0833e-5" iyz="0" izz="5.9083e-4" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://mader_gazebo/meshes/asus_camera/asus_camera_simple.dae"/>
          </geometry>
        </visual>
       <!--        
       <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <box size="0.035 0.185 0.025"/>
          </geometry>
        </collision>
        -->
<!--         <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://mader_gazebo/meshes/asus_camera/asus_camera_simple.dae"/>
          </geometry>
        </collision> -->

      </link>

      <joint name="${name}_depth_joint" type="fixed">
        <origin xyz="0.0 0.049 0.0" rpy="0 0 0" />
        <parent link="${name}_link" />
        <child link="${name}_depth_frame"/>
      </joint>

      <link name="${name}_depth_frame"/>

      <joint name="${name}_depth_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
        <parent link="${name}_depth_frame" />
        <child link="${name}_depth_optical_frame"/>
      </joint>

      <link name="${name}_depth_optical_frame"/>

      <joint name="${name}_rgb_joint" type="fixed">
        <origin xyz="0.0 0.022 0.0" rpy="0 0 0" />
        <parent link="${name}_link" />
        <child link="${name}_rgb_frame"/>
      </joint>

      <link name="${name}_rgb_frame"/>

      <joint name="${name}_rgb_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0.0 ${-M_PI/2}" />
        <parent link="${name}_rgb_frame" />
        <child link="${name}_rgb_optical_frame"/>
      </joint>

      <link name="${name}_rgb_optical_frame"/>
    </xacro:macro>

    <!--
     The asus_camera macro only adds the model, and also adds
     the openni gazebo plugin.
    -->
    <xacro:macro name="asus_camera" params="name parent *origin">
      <xacro:asus_camera_model name="${name}" parent="${parent}">
        <xacro:insert_block name="origin" />
      </xacro:asus_camera_model>
  
      <!-- ASUS Xtion PRO camera for simulation -->
      <gazebo reference="${name}_depth_frame">
        <sensor type="depth" name="${name}">
          <update_rate>30</update_rate>
          <camera>
            <horizontal_fov>${90 * M_PI/180.0}</horizontal_fov>
            <image>
              <format>R8G8B8</format>
<!--               <width>120</width>  320, 240
              <height>90</height> -->
              <width>320</width>
              <height>240</height>
            </image>
            <clip>
              <near>0.06</near>
              <far>100.0</far>  <!--this is the clipping distance for the RGB image-->
            </clip>
          </camera>
          <plugin name="${name}_camera_controller" filename="libgazebo_ros_openni_kinect.so">
            <imageTopicName>${name}/rgb/image_raw</imageTopicName>
            <cameraInfoTopicName>${name}/rgb/camera_info</cameraInfoTopicName>
            <depthImageTopicName>${name}/depth/image_rect_raw</depthImageTopicName>
            <depthImageCameraInfoTopicName>${name}/depth/camera_info</depthImageCameraInfoTopicName>
            <pointCloudTopicName>${name}/depth/color/points</pointCloudTopicName>
            <frameName>${name}</frameName>
            <pointCloudCutoff>0.06</pointCloudCutoff>
            <pointCloudCutoffMax>7.0</pointCloudCutoffMax> <!--this is the clipping distance for the Depth image and Point Cloud-->
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>
  </robot>
  
